// COLOR PALETTE

$color1: #4f6d7a; //text color
$color2: #fff1e6; //main card color
$color3: #eddcd2; //other cards color
$color4: #ffbd9b; //fav card color

// FONTS

$fontNames: "Pacifico", cursive;
$fontMain: 'Montserrat', sans-serif;
$fontDates: "Open Sans", sans-serif;

// MEASURMENTS

//$header: 38.2vh;
$header: 48vh;
