@import "_variables";

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr minmax(30rem, 60rem) 1fr;
  grid-template-rows: $header auto;
  margin: 0;
}

header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  height: $header;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  max-width: 900px;
  transform: translateY(-8rem);

  p {
    margin: 0px;
    padding: 0;
  }

  .main__card {
    height: 16rem;
    flex-direction: column;
    margin: 0;
    background-color: $color2;
    border: 0.5rem solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    padding: 0 2rem 2rem;

    h2 {
      font-family: $fontNames;
      margin-bottom: 0.2em;
      margin-top: 0.2em;
      font-size: 54px;
      color: $color1;
    }
    h3 {
      font-family: $fontDates;
      font-weight: 400;
      margin: 0;
    }

    .timer {
      min-height: 30px;
      width: 100%;
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: auto;
    width: 80%;
    margin-top: -5em;

    li {
      color: $color1;
      font-family: $fontDates;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      margin: 0 1.5em 0 1.5em;
      background-color: $color2;
      margin: 20px;
      border-radius: 1.2rem;
      padding: 0 2rem 0;
    }
  }

  .chevron {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.favourite_selection {
  background-color: $color4;
  width: 100%;
  align-self: center;
  color: white;

  button {
    background-image: url(../images/filled-star-yellow.png);
    background-size: cover;
  }
}

button {
  width: 2.5em;
  height: 2.5em;
  background-image: url(../images/empty-star-white.png);
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  margin-left: 2em;
}

button:hover {
  background-image: url(../images/filled-star-yellow.png);
  background-size: cover;
}

div {
  display: flex;
  align-items: center;
}
