@import "_variables";

* {
  padding: 0;
}

body{
display: grid;
grid-template-columns: 0.8fr 1fr 0.8fr;
grid-template-rows: 0.5fr 2fr 5fr 1fr;
grid-column-gap: 2px;
grid-row-gap: 2px;
margin: 0;
}


main {   
  display: flex;
  flex-direction: column;
 
  grid-area: 2 / 2 / 5 / 3;
  height: 100vh;
  
  
  
  .main__card {
    flex-direction: column;
    margin: 0;
    h1 {
      font-family: $fontNames;
      margin-bottom: 0.2em;
      margin-top: 0.2em;
    }
    h4 {
      font-family: $fontDates;
      font-weight: 400;
      margin: 0;
    }
   
    .timer{
      min-height: 30px;
      width: 100%;
    }
  }

  ol{
    list-style-type: none;
    margin: 0;
    
    li{
      display:flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      margin: 0 1.5em 0 1.5em;
      
    }
  }

    .chevron {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

