* {
  padding: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 34vh auto;
      grid-template-rows: 34vh auto;
  margin: 0;
}

header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

main p {
  margin: 0px;
  padding: 0;
}

main .main__card {
  height: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  background-color: #fff1e6;
  border: 4px solid #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  padding-bottom: 20px;
  height: 10em;
}

main .main__card h2 {
  font-family: "Pacifico", cursive;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  font-size: 54px;
  color: #4f6d7a;
}

main .main__card h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
}

main .main__card .timer {
  min-height: 30px;
  width: 100%;
}

main ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin: 0;
}

main ol li {
  color: #4f6d7a;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 1.5em 0 1.5em;
  background-color: #eddcd2;
  margin: 20px;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

main .chevron {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favourite_selection {
  background-color: #ffbd9b;
  width: 95%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

button {
  width: 2.5em;
  height: 2.5em;
  background-image: url(../images/empty-star-white.png);
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  margin-left: 2em;
}

button:hover {
  background-image: url(../images/filled-star-yellow.png);
  background-size: cover;
}

button:focus {
  background-image: url(../images/filled-star-yellow.png);
  background-size: cover;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */