* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(30rem, 60rem) 1fr;
      grid-template-columns: 1fr minmax(30rem, 60rem) 1fr;
  -ms-grid-rows: 48vh auto;
      grid-template-rows: 48vh auto;
  margin: 0;
}

header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  height: 48vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  max-width: 900px;
  -webkit-transform: translateY(-8rem);
          transform: translateY(-8rem);
}

main p {
  margin: 0px;
  padding: 0;
}

main .main__card {
  height: 16rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  background-color: #fff1e6;
  border: 0.5rem solid #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  padding: 0 2rem 2rem;
}

main .main__card h2 {
  font-family: "Pacifico", cursive;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  font-size: 54px;
  color: #4f6d7a;
}

main .main__card h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
}

main .main__card .timer {
  min-height: 30px;
  width: 100%;
}

main ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin: auto;
  width: 80%;
  margin-top: -5em;
}

main ol li {
  color: #4f6d7a;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 1.5em 0 1.5em;
  background-color: #fff1e6;
  margin: 20px;
  border-radius: 1.2rem;
  padding: 0 2rem 0;
}

main .chevron {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favourite_selection {
  background-color: #ffbd9b;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.favourite_selection button {
  background-image: url(../images/filled-star-yellow.png);
  background-size: cover;
}

button {
  width: 2.5em;
  height: 2.5em;
  background-image: url(../images/empty-star-white.png);
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  margin-left: 2em;
}

button:hover {
  background-image: url(../images/filled-star-yellow.png);
  background-size: cover;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */