@import "_variables";

* {
  padding: 0;
  margin: 0;
}

body{
display: grid;
grid-template-columns: 0.8fr 1fr 0.8fr;
grid-template-rows: 0.5fr 2fr 5fr 1fr;
grid-column-gap: 2px;
grid-row-gap: 2px;
}

main {   
  grid-area: 2 / 2 / 5 / 3;
  height: 100vh;
  width: 80%;

  .mainCard {
    h1 {
      font-family: $fontNames;
    }
    h4 {
      font-family: $fontDates;
      font-weight: 400;
    }
  }

    .chevron {
      width: 40px;
      height: 40px;
    }
}
